/*
========================
Hero Page
========================
*/

/*
div * {
  border: 1px solid #CCCCCC;
}
*/

.clear {
  clear: both;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  min-width: 960px;
}

.navbar {
  width: 100%;
  height: 70px;
  color: #FFFFFF;
}

.background-blue {
  background-color: #1A92CB;

}

.navbar-menu p {
  display: block;
  float: right;
  font-size: 18px;
  padding-right: 14px;
  margin-top: 25px;
}

.logo-navbar {
  background: url('file:///Users/JoeBernardi/JDSite/JDSite/assets/images/logo.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  background-size:contain;
  margin-top: 6px;
}

.navbar h1 {
  font-size: 30px;
  display: inline-block;
  margin: 17px 0 0 10px;
}

.logo-title-container {
  display: inline-block;
  vertical-align: middle;
}



/*
=======================
Gradient
=======================
*/

.blue-gradient {
    background:     -moz-linear-gradient(90deg, #1A92CB, #67B7DD);
    background:  -webkit-linear-gradient(90deg, #1A92CB, #67B7DD);
    background:          linear-gradient(90deg, #1A92CB, #67B7DD); 
}

/*
=======================
Grids
=======================
*/

.col-1-3 {
  width: 33%;
}

.col-2-3 {
  width:66%;
}

.col-1-2 {
  width: 50%;
}



.grid {
  width: 960px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}


/*
=======================
Text
=======================
*/

div * {
  border:1px solid #CCC;
}


.header {
  font-size:36px;
  font-weight: bold;
  letter-spacing: .02em;
  margin-top:54px;
}

h3 {
  font-size: 24px;
  line-height: 54px;
  font-weight: 700;
}

#h3margin {
  margin: 0;
}


